body {
  margin: 0;

  font-family: "PTSans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;

  background-color: #ffffff;
  /* в бади убери всё про картинку, она же е тут */
  background-image: url("img/background-photo.jpg");
  background-position: top center;
  background-size:cover;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
}

.button-search {
  font: inherit;

  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #766357;
  border: none;
}

.button-search:hover,
.button-search:focus,
.button-search:active {
  background-color: #604e43;
}

.button-find {
  font: inherit;

  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #81b3d2;
  border: none;
}

.button-find:hover,
.button-find:focus,
.button-find:active {
  background-color: #669ec0;
}
.main-navigation {
  font-size: 14px;
  line-height: 26px;
  color: #000000;

  background-color: #ffffff;
}

.site-navigation {
  list-style: none;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #81b3d2;
}

.attraction {
  text-align: center;
}

.attraction-title h2 {
  font-size:21px;
  line-height: 26px;
}

.attraction-text p{
  font-size:14px;
  line-height: 26px;
  font-weight: 400;
}

.advantages-list {
  list-style: none;
}

.advantages-item {
  text-align: center;
}

.advantages-item h3 {
  font-size:21px;
  line-height: 21px;
}

.advantages-item p{
  font-size:14px;
  line-height: 21px;
  font-weight: 400;
}

.services-item {
  text-align: center;
}

.services-item h3 {
  font-size:21px;
  line-height: 21px;
}

.services-item p{
  font-size:14px;
  line-height: 21px;
  font-weight: 400;
}

.search-hotels {
  text-align: center;
}

.search-hotels-title h2 {
  font-size:30px;
  line-height: 36px;
}

.search-hotels-text p{
  font-size:14px;
  line-height: 24px;
  font-weight: 400;
}

.search-form input {
  font: inherit;

  background-color: #f2f2f2;
  border: none
}

.search-form input:focus {
  background-color: #ebebeb;
  border: none
}

.hotels-list {
  list-style: none;
}

.catalog-item {
  background-color: #ffffff;
  box-shadow: none;
}

.catalog-item a {
  color: #000000;
}

.catalog-item h3 {
  font-size: 21px;
  line-height: 26px;
}

.hotels-text-type {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}

.hotels-price {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}

.hotels-button-book {
  line-height: 21px;
  color: #ffffff;

  background-color: #81b3d2;
}

.hotels-button-detailed {
  line-height: 21px;
  color: #ffffff;

  background-color: #766357;
}

.rating-text{
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;

  background-color: #f2f2f2;
}

.main-footer {
  color: #000000;

  background-color: #ffffff;
}

.footer-social {
  list-style: none;
}

.hashtag {
  font-size:21px;
  line-height: 26px;
}

.footer-copyright-text {
  font-size:14px;
  line-height: 26px;
  font-weight: 400;
}

.footer-copyright {
  text-align: center;
}

/*Сеточные стили*/

.page-container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;

  outline: 2px solid #fbf660;
}

header {
  outline: 2px solid #fcacf8;
}

body {
  outline: 2px solid #9696ff;
}

footer {
  outline: 2px solid #a8ffa4;
}

.main-header-logo {
  width: 140px;
  height: 72px;
}

.site-navigation {
  display:flex;
  justify-content: space-between;
  padding-left: 73px;
  padding-right: 73px;
  margin: 0;
  /* space-between, слева справа внутренние отспупы, элемнты занимаю по 20% ширины, 3 li автоматически оттлакивается влево от 2 li */
}

.site-navigation-item {
  width: 20%;
}

.site-navigation-item.third {
  margin-left: auto;
}

.introduction {
  display:flex;
  justify-content: center;
  align-items: center;
  height: 510px;
  background-image: url(../img/background-photo.jpg);
}


.search-form-wrapper {
  width: 568px;
  margin:0 auto;
  }

.search-item-wrapper {
  display:flex;
  justify-content: center;

}

.search-form {
  padding-top: 29px;
  padding-bottom: 17px;
  padding-left: 58px;
  padding-right: 58px;
}


.search-item-date {
  width: 341px;
  height: 43px;
}


.search-item-number {
  width: 114px;
  padding-top: 5px;
  padding-bottom: 5px;
}


.search-item {
  display: flex;
  margin: 0;
}


/* самой форме дать отступы, дать размеры инпутам, дать маргины между инпутами и лейблами */

.main-footer{
  display:flex;
  justify-content: space-between;
  padding-left: 131px;
  padding-right: 92px;
}

.footer-social{
  display:flex;
  margin: 0;
  padding: 0;
}

.catalog-item {
  display:flex;
  justify-content:space-between;
  outline: 2px solid #ea286c;
  padding-left: 73px;
  padding-right: 73px;
}

.hotels-list {
  margin-top:0;
  margin-bottom:0;
  padding-left: 0;
}

.stars {
  display:flex;
  list-style: none;
  margin-top:0;
  margin-bottom:0;
}

.hotels-rating {
  margin-left: auto;
}

.hotels-info-wrapper {
  display:flex;
  width: 259px;
  justify-content: space-between;
}

/*дефолтные стили*/

.attraction-title {
  margin: 0;
  padding: 0;
}

.attraction-text {
  margin: 0;
}

.advantages-list {
  margin: 0;
  padding: 0;
}

.search-hotels-title {
  margin: 0;
}

.search-hotels-text {
  margin: 0;
}

.search-item {
  margin: 0;
}

.hashtag {
  margin: 0;
}

.footer-copyright {
  margin: 0;
}

.hotels-text-type {
  margin: 0;
}

.hotels-price {
  margin: 0;
}

.rating-text {
  margin: 0;
}
